<% provide(:title, 'Select a Charity') %>
<h1>Select a Charity</h1>
When you make eligible purchases from eShopDonate.com's merchants, the charity of your choice will receive a donation. Which charity would you like to support?<br />

<%= link_to "Skip this. I just want to shop without selecting a charity.", set_charity_path(0) %>

<%= will_paginate %>

<% if user_signed_in? %>
  <%= link_to "New Charity", new_charity_path %><br /><br />
<% end %>

<ul class="charities">
  <% @charities.each do |charity| %>
    <li>
      <%= link_to charity.name, set_charity_path(charity), class: "btn charity-btn" %>
      <%= link_to "View website", charity.url, target: "_blank", class: "subtle-link" %>
      <% if user_signed_in? %>
        <%= link_to "Edit", edit_charity_path(charity), class: "subtle-link" %>
        <%= link_to "Delete", charity_path(charity), method: :delete, confirm: "Delete #{charity.name}?", class: "subtle-link" %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
